{
  "extends": "react-app",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "max-len": [
      "error",
      {
        "code": 84
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}